<table class="center" style="width:100%">
  <tr>
<td><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-oypffp/master/src/assets/BuildSad.png"></td>
</tr>
<tr>
  <td colspan="4"><h2>About Us</h2></td>
<!--td colspan="9"><img src=""></td>-->
</tr>
<tr>
<td>
Eswatini Property Review is Eswatini’s Premier Property Publication providing news and information about the property industry in the country and beyond. The publication focuses keenly on residential, commercial and industrial property news, property investment, property professionals and lifestyle information
</td>
</tr>

</table>
