<table class="center" style="width:100%">
  
  <ul>
<tr>
 <th colspan="2"><h3>Readership Target Market</h3></th>
</tr>

<li><tr><td>Investors</td></tr></li>
 
<li><tr><td><td>Key Opinion Leaders</td></tr></li>

<li><tr><td>Decision Makers</td></tr></li>
  
<li><tr><td><td>Financial Advisors</td></tr></li>

<li><tr><td>Real Estate Agents </td></tr></li>
  
<li><tr><td><td>Property Buyers</td></tr></li>

<li><tr><td>Home Owners</td></tr></li>
  
<li><tr><td><td>Conveyancers & Legal</td></tr></li>

<li><tr><td>Practitioners </td></tr></li>
  
<li><tr><td><td>Business Owners</td></tr></li>

<li><tr><td>Interior and Exterior</td></tr></li>
  
<li><tr><td><td>Designers</td></tr></li>

<li><tr><td>Government Line Ministries</td></tr></li>
  
<li><tr><td>Departments & Parastatals</td></tr></li>

<li><tr><td>Architects</td></tr></li>

<li><tr><td>Hospitality Industry</td></tr></li>

<li><tr><td>Practitioners</td></tr></li>

<li><tr><td>Other Property Specialists</td></tr></li>

</ul>
</table>
