<table class="center" style="width:100%">
<tr>
 <th colspan="2"><label>Readership Target Market</label></th>
</tr>

<tr>
 <td >- Investors</td><td>- Key Opinion Leaders</td>
</tr>

<tr>
  <td >- Decision Makers</td><td> - Financial Advisors</td>
</tr>

<tr>
  <td >- Real Estate Agents </td><td> - Property Buyers</td>
</tr>

<tr>
  <td>- Home Owners</td><td> - Conveyancers & Legal</td>
</tr>

<tr>
  <td>- Practitioners </td><td>- Business Owners</td>
</tr>

<tr>
  <td>- Interior and Exterior</td><td> - Designers</td>
</tr>

<tr>
  <td>- Government Line Ministries</td><td> - Departments & Parastatals</td>
</tr>

<tr>
  <td>- Architects</td><td> - Hospitality Industry</td>
</tr>

<tr>
  <td>- Practitioners</td><td> - Other Property Specialists</td>
</tr>
</table>
