<p>
	
<label>BENEFITS OF ADVERTISING WITH ESWATINI PROPERTY REVIEW</label>
Bi-monthly readership of +4000 people. 1500 print-run per issue distributed nationwide. +350 annual subscriber readers (local and RSA subscribers predominantly high-level executives, business owners & industry specialists). Free downloadable issues distributed to via online channels to +1000 online community High quality glossy magazine is collected by property enthusiasts as a recommendable resource base. Customized advertising packages encompassing print, online and social media brand exposure and discounted In-Mall Digital Advertising (Refer to Barcode Creative In-Mall Digital Advertising Rate Card or visit www.barcodecreative.net)
</p>