
<h3>Readership Characteristics </h3>
<table>
<ul>
<li><tr><td><label>Age :</label></td><td> +/- 30 - 65</td></tr></li>
     
<li><tr><td><label>Education :</label></td><td> Tertiary Education (including Masters +)</td></tr></li> 
<li><tr><td><label>Professional / Career Level :</label></td><td> Mid-Level Management to High Level Executives & Successful Entrepreneurs.</td></tr></li> 
<li><tr><td><label>Dwelling Status : </label></td><td>Owned property or rented +2 bedroom accommodations in urban and peri-urban locations.</td></tr></li> 
<li><tr><td><label>Transport Mode :</label></td><td> Privately owned motor vehicle(s)</td></tr></li> 
<li><tr><td><label>Lifestyle :</label></td><td> Advanced use of technological gadgets and Internet access, espoused healthy living and family orientated.</td></tr></li>
</ul>
</table>