<table>

<tr> 
  <td><img src = "https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-thuhmy/master/src/assets/houseflp.jpg" height="400" width="100%"><a [routerLink]="['/housef']">UNDERSTANDING HOUSE FLIPPING WITH REMAX ESWATINI’S LYLE HUTTON</a></td><td><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-thuhmy/master/src/assets/swatinif.png" height="400" width="100%"><a [routerLink]="['/deeds']">CAN NON-CITIZENS PURCHASE AND OWN IMMOVABLE PROPERTY IN ESWATINI?</a></td>
 </tr>
<!--
<tr>
  <td><a [routerLink]="['/housef']">UNDERSTANDING HOUSE FLIPPING WITH REMAX ESWATINI’S LYLE HUTTON</a></td>
  <td><a [routerLink]="['/deeds']">CAN NON-CITIZENS PURCHASE AND OWN IMMOVABLE PROPERTY IN ESWATINI?</a></td>
</tr>-->

<tr> 
  <td><img src= "https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-thuhmy/master/src/assets/housep.jpg" height="400" width="100%"><a [routerLink]="['/hinsure']">WHY YOUR HOMEOWNERS INSURANCE CLAIM WILL BE REJECTED</a></td><td><img src=""></td>
 </tr>
<!--
<tr>
  <td><a [routerLink]="['/hinsure']">WHY YOUR HOMEOWNERS INSURANCE CLAIM WILL BE REJECTED</a></td> <td></td>
</tr>-->
<!--
<tr> 
  <td><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-e6w3hm/master/src/assets/Secttitle1.jpg"></td><td><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-e6w3hm/master/src/assets/Secttitle1.jpg"></td>
</tr>
-->
</table>