
<div *ngFor="let product of products; index as productId">
<table class="center" style="width:100%">

<tr>
<th colspan="2"><h2 align="center">Out Now!!!</h2></th>
</tr>

<tr>
<td><a [title]="product.name" [routerLink]="['/products', productId]">
      <img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-e6w3hm/master/src/assets/Issue7.png" width="450" height="950" ></a></td>


<td>
  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <img [src]="images[0]" alt="Random first slide" width="450" height="950">
      <!--<div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>-->
    </ng-template>
    <ng-template ngbSlide>
      <img [src]="images[1]" alt="Random second slide" width="450" height="950">
      <!--<div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>-->
    </ng-template>
    <ng-template ngbSlide>
      <img [src]="images[2]" alt="Random third slide" width="450" height="950">
     <!-- <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>-->
    </ng-template>
  </ngb-carousel></td>

</tr>

<!--
<tr>
<td><p *ngIf="product.description">{{ product.description }}</p></td>
</tr>

<tr>
  <td><a [routerLink]="['/comm']"><h3 align="center">Commercial News!!!</h3></a></td><td><a [routerLink]="['/resi']"><h3 align="center">Residential News!!!!</h3></a></td>
</tr>

<tr> 
  <td><a [routerLink]="['/comm']"><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-e6w3hm/master/src/assets/Comm1.jpg"></a></td>
 
 <td><a [routerLink]="['/resi']"><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-e6w3hm/master/src/assets/Secttitle1.jpg"></a></td>
 </tr>-->
<!--
<tr>
   <td><a [routerLink]="['/landl']"><h3>Leisure and Lifestyle</h3></a></td><td><a [routerLink]="['/inter']"><h3>International News</h3></a></td>
</tr>
<tr>
  <td><a [routerLink]="['/landl']"><img src=""></a></td>
  <td><a [routerLink]="['/inter']"><img src=""></a></td>
</tr>-->

</table>
</div>
