<table>

<tr> 
  <td><div class="container"><img src = "https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-thuhmy/master/src/assets/remexpic.png" height="400" width="400"><div class="content"><a [routerLink]="['/remax']">REMAX ESWATINI WINS REAL ESTATE 2019 CUSTOMER SERVICE EXCELLENCE AWARD</a></div>
</div></td>
</tr>

<tr>
<td><div class="container"><img src= "https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-thuhmy/master/src/assets/mall1.jpg" height="400" width="400"><div class="content"><a [routerLink]="['/swaprop']">HIGH OCCUPANCY LEVELS LEAD TO E43 MILLION PROFIT FOR SWAPROP</a></div>
</div></td>
</tr>

<!--
<tr> 
  <td><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-e6w3hm/master/src/assets/Comm1.jpg"></td><td><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-e6w3hm/master/src/assets/Comm1.jpg"></td>
 </tr>

<tr> 
  <td><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-e6w3hm/master/src/assets/Comm1.jpg"></td><td><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-e6w3hm/master/src/assets/Comm1.jpg"></td>
 </tr>

<tr> 
  <td><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-e6w3hm/master/src/assets/Comm1.jpg"></td><td><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-e6w3hm/master/src/assets/Comm1.jpg"></td>
 </tr>
-->
</table>